<div id="map"></div>
    <button type="button" id="generar_mapa">Generar mapa</button>
    <button type="button" id="mostrar_camino">Mostrar camino</button>
    <button type="button" id="guardar_camino">Guardar camino</button>
    <br><br><br>
    <br>
  </div>
