<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Fixed navbar -->
<div class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="" title="LaPalmaTrail"><img src="assets/images/logotipo.png" alt="logo" title="LaPalmaTrail" /></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" id="menu">
        <li><a data-scroll data-options="easing: easeOutQuart" href="#banner">Home</a></li>

        <li id="hacia_mywork"><a data-scroll data-options="easing: easeOutQuart" href="#mywork">Rutas</a></li>
        <!--<li><a data-scroll data-options="easing: easeOutQuart" href="#about">About</a></li>-->
        <!--<li><a data-scroll data-options="easing: easeOutQuart" href="#skills">Skills</a></li>-->

        <!--<li><a data-scroll data-options="easing: easeOutQuart" href="#contact">Contact</a></li>-->
        <li id="generar_mapa"><a data-scroll data-options="easing: easeOutQuart" href="#contact">Publica tu sendero</a></li>
        <li><a data-scroll data-options="easing: easeOutQuart" data-toggle="modal" data-target="#myModal"><i class="icon-user "></i>   Login </a></li>
        
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</div>


<!------------------------------------------------------------------------------------------------------------------------------------>
<!-- Login -->

<!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
<!--    Log in-->
<!--</button>-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Log in</h4>
			</div> <!-- /.modal-header -->

			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="uLogin" placeholder="Login">
							<label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
						</div>
					</div> <!-- /.form-group -->

					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control" id="uPassword" placeholder="Password">
							<label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
						</div> <!-- /.input-group -->
					</div> <!-- /.form-group -->
					
					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
					</div> <!-- /.checkbox -->
				</form>

			</div> <!-- /.modal-body -->

			<div class="modal-footer">
				<button class="form-control btn btn-primary" id="loguearse">Login</button>

				<div class="progress">
					<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
						<span class="sr-only">progress</span>
					</div>
				</div>
			</div> <!-- /.modal-footer -->
			
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!------------------------------------------------------------------------------------------------------------------------------------>
<!-- Slider inicial -->

<section id="banner" class="section">
	
	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Camina</h1>        
            <h3>Por nuestros senderos</h3>
        </hgroup>
        <!--<button class="btn btn-hero btn-lg" role="button">See all features</button>-->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Descubre</h1>        
            <h3>Nuestra isla</h3>
        </hgroup>       
        <!--<button class="btn btn-hero btn-lg" role="button">See all features</button>-->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Disfruta</h1>        
            <h3>Con nuestros paisajes</h3>
        </hgroup>
        <!--<button class="btn btn-hero btn-lg" role="button">See all features</button>-->
      </div>
    </div>
  </div> 
</div>

</section>


<!------------------------------------------------------------------------------------------------------------------------------------>
<!-- Rutas -->

<section id="mywork" class="section">
	<div class="container">
        <div class="row">
            <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Rutas</h2>
            <div id="nuestros_senderos"></div>
            
        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------------------------------------------------------>
<!-- Barra divisoria-->

<section id="parallax-1" class="bgParallax" data-speed="15">
<div class="color-overlay">
	
</div>    
</section>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Publicar un sendero -->

<section id="contact" style="display:none;">
	<div class="container">
        <div class="row">
            <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Publica tu sendero</h2>
            <div class="col-md-12">
            	<form role="form" id="contact-form" class="contact-form">
                	
                	<div class="row">
                  		<div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                  		  <!-- Introducir datos del sendero-->
                  		  <div id="publicar" style="display:none">
                      		<div class="form-group">
                            <input type="text" class="form-control" name="nombre_mapa" autocomplete="off" id="nombre_mapa" placeholder="Nombre del mapa">
                      		</div>
  
                          <div class="form-group">
                                <input type="text" class="form-control" name="autor_mapa" autocomplete="off" id="autor_mapa" placeholder="Autor del mapa">
                          </div>
                    		  
                    		  <div class="form-group">
                            <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
                      	  </div>
                    		  
                    		  <div class="form-group">
                            <textarea class="form-control textarea" rows="2" name="descripcion_mapa" id="descripcion_mapa" placeholder="Descripcion del mapa"></textarea>
                    		  </div>
                  		  </div>
                  		  
                  		  <!-- Volcar datos del sendero-->
                  		  <div id="mostrar" style="display:none">
                  		    <div class="table-responsive">
                            <table class="table table-hover">
                              <thead></thead>
                              <tbody>
                                <tr><td class="pull-left"><b>Usuario</b></td><td id="usuario_mostrarmapa"></td></tr>
                                <tr><td class="pull-left"><b>Nombre</b></td><td id="nombre_mostrarmapa"></td></tr>
                                <tr><td class="pull-left"><b>Apellidos</b></td><td id="apellidos_mostrarmapa"></td></tr>
                                <tr><td class="pull-left"><b>Email</b></td><td id="email_mostrarmapa"></td></tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-hover">
                                <thead>
                                  <th></th>
                                  <th>Latitud</th>
                                  <th>Longitud</th>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="pull-left"><b>Origen</b></td>
                                      <td id="latitudo_mostrarmapa"></td>
                                      <td id="longitudo_mostrarmapa"></td>
                                    </tr>
                                    <tr>
                                      <td class="pull-left"><b>Destino</b></td>
                                      <td id="latitudd_mostrarmapa"></td>
                                      <td id="longitudd_mostrarmapa"></td>
                                    </tr>
                                </tbody>
                              </table>
                              <table class="table table-hover">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                  <tr><td class="pull-left"><b>Descripcion</b></td><td id="descripcion_mostrarmapa"></td></tr>
                                </tbody>
                              </table>
                          </div>
                  		  </div>
                  		  
                    	</div>
                    	
                    	<!-- Mapa -->
                    	<div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                        <div id="map" style="width: 100%; height: 400px;border-color:red" class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    	</div>
                    	<!---------->
                  </div>
                  
                  <div class="row" style="margin-top:10px;">
                      <div class="col-md-6" data-wow-duration="1s" data-wow-delay="1s"></div>
                      <div class="col-md-6" data-wow-duration="1s" data-wow-delay="1s">
                        <h5 id="mensaje_aviso_publicar"></h5>
                        <button style="margin-top:7px;" id="guardar_camino" type="submit" class="btn main-btn wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">Guardar sendero</button>
                        <!--<button id="mostrar_camino" type="submit" class="btn">Mostrar sendero</button>-->
                      </div>
                  </div>
                  <!--div class="row">
                  		<div class="col-md-12 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                  		</div>
                  	</div>
                  </div-->
                  <div class="row">
                    <div class="col-md-12">
                      
                    </div>
                  </div>
            </form>
			    </div>
			    
        </div>
    </div>
</section>

<section id="parallax-1" class="bgParallax" data-speed="15">
    <div class="color-overlay">
    
    </div>    
  </section>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Footer -->

<section id="info">
	<div class="container">
		<div class="row">
        	<div class="col-md-4">
            		<h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Josué Toledo</h4>
                    <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                  		<strong>alu0100763492@ull.edu.es</strong><br>
                		</address>
                        
            </div>
            <div class="col-md-4">
            	<h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Repositorio Github</h4>
                <div class="clearfix"></div>
                
                <ul class="list-inline social">
                  <li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="0.8s"><a href="https://github.com/ULL-ESIT-GRADOII-DSI/proyecto-final-Josue-Nayra" class="fb"><i class="icon-github icon-3x"></i></a></li>
                  <!--<li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.0s"><a href="https://twitter.com/mirchu_net" class="twt"><i class="mdicon twitter"></i></a></li>-->
                  <!--<li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.2s"><a href="https://plus.google.com/+MirchuNet" class="dr"><i class="mdicon google-plus-fill"></i></a></li>-->
                  <!--<li class="wow bounceIn" data-wow-duration="1.0s" data-wow-delay="1.4s"><a href="#" class="be"><i class="mdicon linkedin"></i></a></li>-->
                </ul>
            </div>
            <div class="col-md-4">
            	<h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">M. Nayra Rguez</h4>
                    <address class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                  		<strong>alu0100406122@ull.edu.es</strong><br>
                		</address>
            </div>
        </div>
    </div>
</section>
<a href="#" class="back-to-top"><i class="mdicon up"></i></a>

    <!-- Bootstrap core JavaScript--> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="assets/js/jquery.min.js"></script> 
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- smooth scrolling -->
    <script src="assets/js/smooth-scroll.js"></script>
    
    <!-- animation scrolling -->
    <script src="assets/js/wow.min.js"></script>
    
    <!-- hover captions -->
    <script src="assets/js/jquery.hcaptions.js"></script>
    
    <!-- hover detail page -->
    <script src="assets/js/nivo-lightbox.min.js"></script>
    
    <!-- Form Validation -->
    <script src="assets/js/bootstrapValidator.min.js"></script>
    
    <!-- animation scrolling -->
    <script src="assets/js/app.min.js"></script>
